.DS_Store
.idea
.sass-cache

abstract

node_modules
bower_components

www\public
www\public\images
www\public\libraries
www\public\javascripts
www\public\service
www\public\stylesheets

plugins
platforms

npm-debug.log