npm-debug.log
.DS_Store
.idea
.sass-cache
abstract
platforms
plugins
node_modules
bower_components
www/public/images
www/public/javascripts
www/public/libraries
www/public/service
www/public/stylesheets
www/public/templates
www/public/index.html