<!DOCTYPE html>
<html ng-app="ft">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>fresh tomatoes | f7 angularJS </title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="libraries/framework7/css/framework7.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="stylesheets/styles.css">
  </head>
  <body>
    
    @@include('header.html')
    
    <!-- Views-->
    <div class="views">
      
      <!-- Your main view, should have "view-main" class-->
      <div class="view view-main">
        
        @@include('navi.html')
        
        <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through">
          
          <!-- - [Page 1] ---------------------------------------- -->
          @@include('pages/indexpage.html')
          
          <!-- - [Page 2] ---------------------------------------- -->
          @@include('pages/detailspage.html')
          
        </div>
        
        <!-- Bottom Toolbar-->
        <!--
        <div class="toolbar">
        </div>
        -->
        
      </div>
    </div>
    
    @@include('scripts.html')
    
  </body>
</html>